body{
   background-image: url(https://i.pinimg.com/736x/b7/d5/f1/b7d5f1e6b9b92b50f8b69498aa5073cd--geometric-prints-geometric-designs.jpg);
   background-repeat: no-repeat;
   background-attachment: auto fixed;
}